.section1 {
    background-color:rgba(15, 77, 102, 0.808);
    border: auto;
    margin: auto;
    text-align: center;
}

.birth {
    padding: 50px;
}

.companyname {
    text-align: center;
}

.section2 {
    background-image: url(Gold.png);
    height: 400px;
    background-size: cover;      /* Scales to fill section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.quote1 {
    color: aliceblue;
}

.quote2 {
    display: end;
    justify-content: flex-end;  /* Aligns to right */
    align-items: center;     /* Aligns to bottom */
    height: small;             /* Full viewport height */
    padding: 20px;
    background: #4894db;
    color: white;
    opacity: 25%;
    
}

.birthyear {
    height: 200px;
    border-right: 1px solid;
    padding: 200px;
}

.AUM {
    height: 200px;
    border-right: 1px solid;
    text-align: right;
    position: relative;
}

.section4 {
    background-image: url(coins.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 100%;

}

.quote3 {
    color: aliceblue;
    opacity: 80%;
}

.quote4 {
    color: aliceblue;
    opacity: 80%;

}